<div layout="vertical" layout-fill>
  <div ng-include="'components/head/head.html'"></div>

  <div ng-include="'components/navbar/navbar.html'"></div>

  <div ng-include="'components/menu/menu.html'"></div>

  <div ng-controller="MainCtrl as controller">

    <div class="e-editor">

      <md-content>
        <md-toolbar>
          <div class="md-toolbar-tools">

            <h2>
              <span>Editor</span>
            </h2>
            <input ng-model="page" type="tel" name="page" e_editor_page />
            <span>/{{page_length}}</span>
            <a href="" ng-click="editorBack();"><ng-md-icon size="40" icon="navigate_before"></ng-md-icon></a>
            <a href="" ng-click="editorNext();"><ng-md-icon size="40" icon="navigate_next"></ng-md-icon></a>
            
          </div>
        </md-toolbar>
        <br>
        <div class="md-e-warn ">
          <a href="" ng-click="addNew();">
            <ng-md-icon size="45" icon="add_circle"></ng-md-icon>
          </a>
        </div>
        <div class="e-components">
          <ul>
            <li>
              <a title="Highlight" alt="Highlight" href="" ng-click="highlightNew();"><ng-md-icon size="30" icon="input"></ng-md-icon></a>
            </li> 
            <li>
              <a title="Input Text" alt="Input Text" href="" ng-click="addInputText();"><ng-md-icon size="30" icon="format_size"></ng-md-icon></a>
            </li> 
            <li>
              <a title="Avatar" alt="Avatar" href="" ng-click="avatarNew();"><ng-md-icon size="30" icon="face"></ng-md-icon></a>
            </li> 
            <li>
              <a title="Audio" alt="Audio" href="" ng-click="audioNew();"><ng-md-icon size="30" icon="my_library_music"></ng-md-icon></a>
            </li> 
            <li>
              <a title="Vídeo" alt="Vídeo" href="" ng-click="videoNew();"><ng-md-icon size="30" icon="video_collection"></ng-md-icon></a>
            </li>
            <li>
              <a title="Fundo Imagem" alt="Fundo Imagem" href="" ng-click="addBackground();"><ng-md-icon size="30" icon="filter"></ng-md-icon></a>
            </li> 
            <li>
              <a title="Capa Logo" alt="Capa Logo" href="" ng-click="addCoverLogo();"><ng-md-icon size="30" icon="filter_1"></ng-md-icon></a>
            </li> 
            <li>
              <a title="Capa Texto" alt="Capa Texto" href="" ng-click="addCoverText();"><ng-md-icon size="30" icon="filter_2"></ng-md-icon></a>
            </li> 
            <li>
              <a title="Caixa Vermelha" alt="Caixa Vermelha" href="" ng-click="addRedBox();"><ng-md-icon size="30" icon="filter_3"></ng-md-icon></a>
            </li> 
            <li>
              <a title="Caixa Preta" alt="Caixa Preta" href="" ng-click="addBlackBox();"><ng-md-icon size="30" icon="filter_4"></ng-md-icon></a>
            </li> 
            <li>
              <a title="Capa" alt="Capa" href="" ng-click="addCover();"><ng-md-icon size="30" icon="view_day"></ng-md-icon></a>
            </li>
            <li>
              <a title="Legenda" alt="Legenda" href="" ng-click="addLegend();"><ng-md-icon size="30" icon="subtitles"></ng-md-icon></a>
            </li> 
            
            <li>
              <a title="Dicas" alt="Dicas" href="" ng-click="addTip();"><ng-md-icon size="30" icon="radio_button_on"></ng-md-icon></a>
            </li> 

            <li>
              <a title="Animação do Slide" alt="Animação do Slide" href="" ng-click="addAnimation();"><ng-md-icon size="30" icon="play_arrow"></ng-md-icon></a>
            </li> 

            
           
          </ul>
        </div>
        <textarea type="text" id="e_editor" name="" ng-model="teste" e-editor></textarea>
      </md-content>
    </div>


    <div class="loader"><img ng-src="assets/images/loader.gif" /></div>

    <div class="slide" animate="sides" ng-repeat="slide in slides" ng-class="selected({{slides.indexOf(slide)}})" ng-swipe-right="prev()" ng-swipe-left="next()">   
      
      <md-card class="{{slide.class}}" style="height:{{slide_height}}px;">
        <md-card-content> 
          <h3>{{slide.title}}</h3>
          <p>{{slide.description}}</p>
          
          <div class="e-content" style="min-height:{{slide_height}}px;">
            <img draggable="false" ng-src="assets/images/{{slide.img.src}}" alt="{{slide.img.alt}}" title="{{slide.img.title}}" class="md-card-image" />
            
            <div ng-repeat="codes in slide.code">
              <div ng-switch on="codes.type">                
                
                <div ng-switch-when="loader">
                  <div class="e-loader">
                    <ul>
                      <li ng-repeat="image in codes.descriptions">
                        {{image}}
                      </li>
                    </ul>
                  </div>
                </div>

                <div ng-switch-when="video">
                  
                  <div e_video="{{codes.url}}"></div>
                  <videogular vg-auto-play="codes.autoplay" vg-theme="video.theme.url">
                      <vg-media vg-src="video.sources">
                      </vg-media>
                      <!--
                      <vg-controls>
                          <vg-play-pause-button></vg-play-pause-button>
                          <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                          <vg-scrub-bar>
                              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                          </vg-scrub-bar>
                          <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                          <vg-volume>
                              <vg-mute-button></vg-mute-button>
                              <vg-volume-bar></vg-volume-bar>
                          </vg-volume>
                          <vg-fullscreen-button></vg-fullscreen-button>
                      </vg-controls>
                        
                      <vg-overlay-play></vg-overlay-play>
                      -->
                  </videogular>
                </div>

                <div ng-switch-when="block">
                  <div class="e-block {{codes.class}}" style="left:{{codes.position[0]}}%; top:{{codes.position[1]}}%;">
                    <div class="e-animate">
                      <div class="type">{{codes.animation}}</div>
                      <div class="delay">{{codes.delay}}</div>
                      <div class="go_out">{{codes.out}}</div>
                      <div class="time">{{codes.time}}</div>
                      <div class="rotation">{{codes.rotation}}</div>
                      <div class="zoom">{{codes.zoom}}</div>
                    </div>
                    <img  draggable="false" ng-src="/assets/images/{{codes.image}}" />
                    <div class="content_text" ng-bind-html="codes.description"></div>
                  </div>
                </div>

                <div ng-switch-when="magic-block">
                  <div class="e-block {{codes.class}}" 
                       style="left:{{codes.position[0]}}%; top:{{codes.position[1]}}%;" 
                       e_code_index="{{slide.code.indexOf(codes)}}"
                       e_draggable>
                    <div class="e-animate">
                      <div class="type">{{codes.animation}}</div>
                      <div class="delay">{{codes.delay}}</div>
                      <div class="go_out">{{codes.out}}</div>
                      <div class="time">{{codes.time}}</div>
                      <div class="rotation">{{codes.rotation}}</div>
                      <div class="zoom">{{codes.zoom}}</div>
                    </div>
                    <div class="draggble">
                      <ng-md-icon size="35" icon="open_with"></ng-md-icon>
                    </div>
                    <img  draggable="false" ng-src="/assets/images/{{codes.image}}" />
                    <div class="content_text" ng-bind-html="codes.description"></div>
                  </div>
                </div>

                <div ng-switch-when="adp-cover">
                  <div class="e-block {{codes.class}}" 
                       style="left:{{codes.position[0]}}%;" 
                       e_code_index="{{slide.code.indexOf(codes)}}"
                       e_draggable>
                    <div class="e-animate">
                      <div class="type">{{codes.animation}}</div>
                      <div class="delay">{{codes.delay}}</div>
                      <div class="go_out">{{codes.out}}</div>
                      <div class="time">{{codes.time}}</div>
                      <div class="rotation">{{codes.rotation}}</div>
                      <div class="zoom">{{codes.zoom}}</div>
                    </div>
                    <div class="draggble">
                      <ng-md-icon size="35" icon="open_with"></ng-md-icon>
                    </div>
                    <img  draggable="false" ng-src="/assets/images/{{codes.image}}" />
                    <div class="content_text" ng-bind-html="codes.description"></div>
                  </div>
                </div>

                <div ng-switch-when="avatar">
                  <div class="e-block avatar" 
                       style="left:{{codes.position[0]}}%; bottom:{{codes.position[1]}}%;" 
                       e_avatar="{{codes.stop}}" 
                       e_code_index="{{slide.code.indexOf(codes)}}"
                       e_draggable >
                    <div class="e-animate">
                      <div class="type">{{codes.animation}}</div>
                      <div class="delay">{{codes.delay}}</div>
                      <div class="go_out">{{codes.out}}</div>
                      <div class="time">{{codes.time}}</div>
                      <div class="rotation">{{codes.rotation}}</div>
                      <div class="zoom">{{codes.zoom}}</div>
                    </div>
                    <div class="draggble">
                      <ng-md-icon size="35" icon="open_with"></ng-md-icon>
                    </div>
                    <img  draggable="false" ng-src="/assets/images/{{codes.image}}" />
                    <div class="content_text">
                      <i class="animate"></i><span></span>
                      <div ng-bind-html="codes.description"></div>
                    </div>
                  </div>
                </div>
                
                <div ng-switch-when="tip">
                  <div class="e-tip" 
                       style="left:{{codes.position[0]}}%; top:{{codes.position[1]}}%;" 
                       e_code_index="{{slide.code.indexOf(codes)}}"
                       e_draggable>
                    <div class="e-animate">
                      <div class="type">{{codes.animation}}</div>
                      <div class="delay">{{codes.delay}}</div>
                      <div class="go_out">{{codes.out}}</div>
                      <div class="time">{{codes.time}}</div>
                      <div class="rotation">{{codes.rotation}}</div>
                    </div>
                    <div class="e-tip-content">

                      <div class="draggble">
                        <ng-md-icon size="35" icon="open_with"></ng-md-icon>
                      </div>
                      
                      <div class="e-tip-click" ng-click="tip($event)">
                        <span></span>
                        <h3>{{codes.title}}</h3>
                      </div>
                      <p>{{codes.description}}</p>
                    </div>
                  </div>
                </div>
                
                <div ng-switch-when="tab">
                  <div class="e-tab" 
                       e_code_index="{{slide.code.indexOf(codes)}}"
                       e_draggable>
                    <div class="draggble">
                      <ng-md-icon size="35" icon="open_with"></ng-md-icon>
                    </div>
                    <ul>
                      <li ng-repeat="title in codes.titles" ng-click="tab($event)">
                        <h1>{{title}}</h1>
                        <p ng-bind-html="codes.descriptions[codes.titles.indexOf(title)]"></p>
                      </li>
                    </ul>
                    <div class="e-tab-content"></div>
                  </div>
                </div>
                
                <div ng-switch-when="audio">
                  <div class="e-audio" id="{{codes.audio}}"></div>
                </div>
                
                <div ng-switch-when="zoom" class="zoom">
                  <div class="from">{{codes.from}}</div>
                  <div class="to">{{codes.to}}</div>
                </div>
                
                <div ng-switch-when="animation" class="animation">
                  <div class="{{codes.mode}}"></div>
                </div>
                
                <div ng-switch-when="highlight">
                  <div 
                    class="e-highlight" 
                    ng-click="highlightText()" 
                    h_x ="{{codes.position[0]}}" 
                    h_y = "{{codes.position[1]}}" 
                    h_width = "{{codes.size[0]}}" 
                    h_height = "{{codes.size[1]}}" 
                    h_width_image = "{{image_size.width}}" 
                    h_height_image = "{{image_size.height}}" 
                    e_code_index="{{slide.code.indexOf(codes)}}"
                    e_highlight 
                    e_draggable >

                    <div class="draggble">
                      <ng-md-icon size="35" icon="open_with"></ng-md-icon>
                    </div>

                    <div class="e-animate">
                      <div class="type">{{codes.animation}}</div>
                      <div class="delay">{{codes.delay}}</div>
                    </div>
                  </div>
                </div>
                
                <div ng-switch-when="input_text">
                  <input class="e-text" name="text[]" correct="{{codes.word}}" ng-keyup="keyPress($event);" type="text" style="left:{{(100*codes.position[0]/image_size.width)}}%; top:{{(100*codes.position[1]/image_size.height)}}%; width:{{(100*codes.size[0]/image_size.width)}}%; height:{{(100*codes.size[1]/image_size.height)}}%;" />
                </div>
                
                <div ng-switch-when="input_radio">
                  
                  <md-radio-group id="radio{{slide.code.indexOf(codes)}}" correct="{{codes.value}}" class="e-radio" ng-model="input.value" ng-change='radio(input.value, radio{{slide.code.indexOf(codes)}})' style="position:absolute; left:{{(100*codes.position[0]/1420)}}%; top:{{(100*codes.position[1]/775)}}%;">
                    
                    <div class="e-animate">
                      <div class="type">{{codes.animation}}</div>
                      <div class="delay">{{codes.delay}}</div>
                    </div>
                    
                    <md-radio-button  ng-repeat="it in codes.labels"
                                     ng-value="it"
                                     aria-label="{{it}}">
                                     {{it}}                                     
                    </md-radio-button>
                  </md-radio-group>
                  
                </div>
                
                <div ng-switch-when="input_checkbox">              
                  <md-checkbox aria-label="" class="e-checkbox" ng-model="input.value" ng-change='checkbox(input.value)' style="left:{{(100*codes.position[0]/1420)| number:0}}%; top:{{(100*codes.position[1]/775)| number:0}}%;">
                    {{codes.label}}
                  </md-checkbox>                
                </div>
                
                <div ng-switch-when="input_select">
                  <select correct="{{codes.correct}}" ng-options="option for option in codes.labels" class="e-select" ng-model="value" ng-change="select(value)" name="select[]" style="position:absolute; left:{{(100*codes.position[0]/1420)}}%; top:{{(100*codes.position[1]/775)}}%; border:#FF0000 solid 1px;"></select>
                </div>
                
                <div ng-switch-when="input_button">
                  <md-button class="md-raised e-button" style="left:{{(100*codes.position[0]/1420)}}%; top:{{(100*codes.position[1]/775)}}%;">{{codes.label}}</md-button>
                </div>
                
                <div ng-switch-default></div>
                
              </div>
            </div>
            
          </div>
          
        <md-card-content>
      </md-card>
        
    </div>
    
    <div class="legend hide">
      <div class="legend-background"></div>
      <div class="legend-text">
        <p ng-bind-html="legend"></p>
      </div>
    </div>
  
    <div e-init></div>
  </div>

<div class="components-examples">
<div class="template-new-page">
#Amostra de implementação: criando tarefas

##e-background slide-style3
</div>

<div class="template-input-text">
```
- type: input_text
- size: [496, 27.2]
- position: [0, 0]
- word: Passar
```
</div>

<div class="template-video-page">
``` 
- type: video
- url: assets/videos/adp-intro.webm
- autoplay: true
```
</div>

<div class="template-audio-page">
``` 
- type: audio
- audio: bruna-nova-bem-vindo.mp3
```
</div>

<div class="template-avatar-page">
``` 
- type: avatar
- image: bruna.png
- description:Para começar, <strong>abordaremos o passo-a-passo de como pesquisar</strong> as requisições de pessoal.
- animation: from_left
- position: [10, 0]
- delay: 0.5
- time: 1
- avatar: 20
```
</div>

<div class="template-highlight-page">
```
- type: highlight
- size: [200, 37]
- position: [259,310]
```
</div>

<div class="template-back-page">
![alt opcional](imagem5.jpg "tittle")
</div>

<div class="template-cover-logo-page">
``` 
- type: adp-cover
- class: adp-cover-logo
- image: logo_adp_entrada.png
- description: <span></span>
- animation: from_left
- position: [0, 78]
- delay: 0.5
- time: 1
```
</div>

<div class="template-back-cover-page">
##capa
</div>

<div class="template-cover-text-page">
``` 
- type: adp-cover
- class: adp-cover-title
- description:<span></span><p>The insights, tools and data you need to unlock your potential.</p>
- animation: from_right
- position: [35, 78]
- delay: 1
- time: 1
```
</div>

<div class="template-legend-page">
###No box Requisição de Pessoal, acesse Requisição de Pessoal.
</div>

<div class="template-tip-page">
``` 
- type: tip
- description: Você pode refinar sua filtragem por Empresa e Estabelecimento e/ou Função e/ou Solicitante.
- position: [5, 10]
- animation: scale
- delay: 1.2
- time: 2
```
</div>

<div class="template-black-box">
``` 
- type: magic-block
- class: adp-black-box
- description:Este curso está organizado da seguinte forma: <br /> <ul><li>Cadastros e Parametrizações</li><li>Gestão de Cargos e Salários</li><li>Relatórios</li></ul>
- animation: from_right
- position: [0, 10]
- delay: 0.5
- time: 1
```

</div>

<div class="template-red-box">
``` 
- type: magic-block
- class: adp-red-box
- description:The insights, tools and data you need to unlock your potential. <p>Explore ADP <strong>Insights & Resorces</strong></p>
- animation: from_right
- position: [0, 10]
- delay: 0.5
- time: 1
```
</div>

<div class="template-page-animation-page">
``` 
- type: animation
- mode: sides
```
</div>
</div>

<script type="text/template" id="md_template">
#Apresentação

``` 
- type: animation
- mode: sides
```

``` 
- type: video
- url: assets/videos/adp-intro.webm
- autoplay: true
```


#Pesquisa de Requisição de Pessoal

##capa

``` 
- type: animation
- mode: sides
```

``` 
- type: adp-cover
- class: adp-cover-logo
- image: logo_adp_entrada.png
- description: <span></span>
- animation: from_left
- position: [0, 0]
- delay: 0.5
- time: 1
```

``` 
- type: adp-cover
- class: adp-cover-title
- description:<span></span><p>The insights, tools and data you need to unlock your potential.</p>
- animation: from_right
- position: [35, 0]
- delay: 1
- time: 1
```


#Projetando cursos EAD

``` 
- type: animation
- mode: sides
```

###Noe Requisição de Pessoal.
![alt opcional](imagem5.jpg "tittle")
```
- type: highlight
- size: [200, 30]
- position: [260, 300]
```


#Pesquisa de Requisição de Pessoal
![alt opcional](blur.png "tittle")
``` 
- type: animation
- mode: sides
```

``` 
- type: audio
- audio: bruna-nova-bem-vindo.mp3
```

``` 
- type: magic-block
- class: adp-red-box
- description:The insights, tools and data you need to unlock your potential. <p>Explore ADP <strong>Insights & Resorces</strong></p>
- animation: from_right
- position: [50, 30]
- delay: 0.5
- time: 1
```

``` 
- type: avatar
- image: bruna.png
- description:Para começar, <strong>abordaremos o passo-a-passo de como pesquisar</strong> as requisições de pessoal.
- animation: from_left
- position: [0, 0]
- delay: 0.5
- time: 1
- stop: 20
```


#Pesquisa de Requisição de P

###No box Requisição de Pessoal, acesse Requisição de Pessoal.

``` 
- type: animation
- mode: sides
```
![alt opcional](imagem5.jpg "tittle")
```
- type: highlight
- size: [200, 30]
- position: [260, 305]
```

``` 
- type: magic-block
- class: adp-black-box
- description:Este curso está organizado da seguinte forma: <br /> <ul><li>Cadastros e Parametrizações</li><li>Gestão de Cargos e Salários</li><li>Relatórios</li></ul>
- animation: from_right
- position: [50, 25]
- delay: 0.5
- time: 1
```


#Pesquisa de Requisição de Pessoal

###Você pode filtrar sua pesquisa de acordo com a situação da requisição de pessoal. Nesse exemplo, altere o campo Situação para Todas.
![alt opcional](imagem8.jpg "tittle")
```
- type: highlight
- size: [170, 30]
- position: [20, 202]
```


#Pesquisa de Requisição de Pessoal

###Você pode filtrar sua pesquisa de acordo com a situação da requisição de pessoal. Nesse exemplo, altere o campo Situação para Todas.
![alt opcional](imagem9.jpg "tittle")
```
- type: highlight
- size: [157, 24]
- position: [20, 258]
```


#Titulo E-learning 8

###Clique no botão Pesquisar.
![alt opcional](imagem10.jpg "tittle")
```
- type: highlight
- size: [83, 25]
- position: [640, 205]
```


#Pesquisa de Requisição de Pessoal

###Pronto, o histórico das Requisições de Pessoal será exibido, conforme Situação escolhida! Antes de prosseguir, confira as funcionalidades destacadas acima.
![alt opcional](imagem11.jpg "tittle")
``` 
- type: tip
- description: Você pode refinar sua filtragem por Empresa e Estabelecimento e/ou Função e/ou Solicitante.
- position: [3, 35]
- animation: scale
- delay: 0
- time: 2
```

``` 
- type: tip
- description: Campo utilizado para filtrar pelo tipo da fase.
- position: [45, 36]
- animation: scale
- delay: 0.5
- time: 2
```

``` 
- type: tip
- description: Número de itens que serão exibidos. Limite máximo: 50 itens
- position: [67, 23]
- animation: scale
- delay: 1
- time: 2
```

</script>

  
  <footer>
    
  </footer>

</div>