<section  ng-controller="HeadCtrl">
  <div class="head-docta">
	<div class="logo-docta">
	  <img ng-src="assets/images/docta.png" alt="Docta" title="Docta" class="md-card-image" />
	</div>
	<div class="docta-content">

		<a ng-if="location == '/'" href="#/preview" target="_blank" title="Preview" alt="Preview">
			<ng-md-icon size="35" icon="remove_red_eye"></ng-md-icon>
		</a>
	</div>
  </div>
</section>