<div layout="vertical" layout-fill>

  <div ng-include="'components/head/head.html'"></div>

  <div ng-include="'components/navbar/navbar.html'"></div>
  
  <div ng-include="'components/menu/menu.html'"></div>

  <div ng-controller="PreviewCtrl as controller">
    
    <div class="loader"><img ng-src="assets/images/loader.gif" /></div>

    <div class="slide" animate="sides" ng-repeat="slide in slides" ng-class="selected({{slides.indexOf(slide)}})" ng-swipe-right="prev()" ng-swipe-left="next()">   
      
      <md-card class="{{slide.class}}" style="height:{{slide_height}}px;">
        <md-card-content> 
          <h3>{{slide.title}}</h3>
          <p>{{slide.description}}</p>
          
          <div class="e-content" style="min-height:{{slide_height}}px;">
            <img draggable="false" ng-src="assets/images/{{slide.img.src}}" alt="{{slide.img.alt}}" title="{{slide.img.title}}" class="md-card-image" />
            
            <div ng-repeat="codes in slide.code">
              <div ng-switch on="codes.type">                
                
                <div ng-switch-when="loader">
                  <div class="e-loader">
                    <ul>
                      <li ng-repeat="image in codes.descriptions">
                        {{image}}
                      </li>
                    </ul>
                  </div>
                </div>

                <div ng-switch-when="video">
                  
                  <div e_video="{{codes.url}}"></div>

                  <videogular vg-auto-play="codes.autoplay" style="" vg-theme="video.theme.url">
                      <vg-media vg-src="video.sources">
                      </vg-media>
                      <!--
                      <vg-controls>
                          <vg-play-pause-button></vg-play-pause-button>
                          <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                          <vg-scrub-bar>
                              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                          </vg-scrub-bar>
                          <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                          <vg-volume>
                              <vg-mute-button></vg-mute-button>
                              <vg-volume-bar></vg-volume-bar>
                          </vg-volume>
                          <vg-fullscreen-button></vg-fullscreen-button>
                      </vg-controls>

                      <vg-overlay-play></vg-overlay-play>
                    -->
                  </videogular>
                </div>

                <div ng-switch-when="block">
                  <div class="e-block {{codes.class}}" style="left:{{codes.position[0]}}%; top:{{codes.position[1]}}%;">
                    <div class="e-animate">
                      <div class="type">{{codes.animation}}</div>
                      <div class="delay">{{codes.delay}}</div>
                      <div class="go_out">{{codes.out}}</div>
                      <div class="time">{{codes.time}}</div>
                      <div class="rotation">{{codes.rotation}}</div>
                      <div class="zoom">{{codes.zoom}}</div>
                    </div>
                    <img  draggable="false" ng-src="/assets/images/{{codes.image}}" />
                    <div class="content_text" ng-bind-html="codes.description"></div>
                  </div>
                </div>

                <div ng-switch-when="magic-block">
                  <div class="e-block {{codes.class}}" style="left:{{codes.position[0]}}%; top:{{codes.position[1]}}%;">
                    <div class="e-animate">
                      <div class="type">{{codes.animation}}</div>
                      <div class="delay">{{codes.delay}}</div>
                      <div class="go_out">{{codes.out}}</div>
                      <div class="time">{{codes.time}}</div>
                      <div class="rotation">{{codes.rotation}}</div>
                      <div class="zoom">{{codes.zoom}}</div>
                    </div>
                    <img  draggable="false" ng-src="/assets/images/{{codes.image}}" />
                    <div class="content_text" ng-bind-html="codes.description"></div>
                  </div>
                </div>

                <div ng-switch-when="adp-cover">
                  <div class="e-block {{codes.class}}" style="left:{{codes.position[0]}}%;">
                    <div class="e-animate">
                      <div class="type">{{codes.animation}}</div>
                      <div class="delay">{{codes.delay}}</div>
                      <div class="go_out">{{codes.out}}</div>
                      <div class="time">{{codes.time}}</div>
                      <div class="rotation">{{codes.rotation}}</div>
                      <div class="zoom">{{codes.zoom}}</div>
                    </div>
                    <img  draggable="false" ng-src="/assets/images/{{codes.image}}" />
                    <div class="content_text" ng-bind-html="codes.description"></div>
                  </div>
                </div>
                
                <div ng-switch-when="avatar">
                  <div class="e-block avatar" style="left:{{codes.position[0]}}%; bottom:{{codes.position[1]}}%;" e_avatar="{{codes.stop}}" >
                    <div class="e-animate">
                      <div class="type">{{codes.animation}}</div>
                      <div class="delay">{{codes.delay}}</div>
                      <div class="go_out">{{codes.out}}</div>
                      <div class="time">{{codes.time}}</div>
                      <div class="rotation">{{codes.rotation}}</div>
                      <div class="zoom">{{codes.zoom}}</div>
                    </div>
                    <img  draggable="false" ng-src="/assets/images/{{codes.image}}" />
                    <div class="content_text">
                      <i class="animate"></i><span></span>
                      <div ng-bind-html="codes.description"></div>
                    </div>
                  </div>
                </div>
                
                <div ng-switch-when="tip">
                  <div class="e-tip" style="left:{{codes.position[0]}}%; top:{{codes.position[1]}}%;">
                    <div class="e-animate">
                      <div class="type">{{codes.animation}}</div>
                      <div class="delay">{{codes.delay}}</div>
                      <div class="go_out">{{codes.out}}</div>
                      <div class="time">{{codes.time}}</div>
                      <div class="rotation">{{codes.rotation}}</div>
                    </div>
                    <div class="e-tip-content">
                      <div class="e-tip-click" ng-click="tip($event)">
                        <span></span>
                        <h3>{{codes.title}}</h3>
                      </div>
                      <p>{{codes.description}}</p>
                    </div>
                  </div>
                </div>
                
                <div ng-switch-when="tab">
                  <div class="e-tab">
                    <ul>
                      <li ng-repeat="title in codes.titles" ng-click="tab($event)">
                        <h1>{{title}}</h1>
                        <p ng-bind-html="codes.descriptions[codes.titles.indexOf(title)]"></p>
                      </li>
                    </ul>
                    <div class="e-tab-content"></div>
                  </div>
                </div>
                
                <div ng-switch-when="audio">
                  <div class="e-audio" id="{{codes.audio}}"></div>
                </div>
                
                <div ng-switch-when="zoom" class="zoom">
                  <div class="from">{{codes.from}}</div>
                  <div class="to">{{codes.to}}</div>
                </div>
                
                <div ng-switch-when="animation" class="animation">
                  <div class="{{codes.mode}}"></div>
                </div>
                
                <div ng-switch-when="highlight">
                  <div 
                    class="e-highlight" 
                    ng-click="highlightText()" 
                    h_x ="{{codes.position[0]}}" 
                    h_y = "{{codes.position[1]}}" 
                    h_width = "{{codes.size[0]}}" 
                    h_height = "{{codes.size[1]}}" 
                    h_width_image = "{{image_size.width}}" 
                    h_height_image = "{{image_size.height}}" 
                    e_highlight >

                    <div class="e-animate">
                      <div class="type">{{codes.animation}}</div>
                      <div class="delay">{{codes.delay}}</div>
                    </div>
                  </div>
                </div>
                
                <div ng-switch-when="input_text">
                  <input class="e-text" name="text[]" correct="{{codes.word}}" ng-keyup="keyPress($event);" type="text" style="left:{{(100*codes.position[0]/image_size.width)}}%; top:{{(100*codes.position[1]/image_size.height)}}%; width:{{(100*codes.size[0]/image_size.width)}}%; height:{{(100*codes.size[1]/image_size.height)}}%;" />
                </div>

                <div ng-switch-when="input_radio">
                  
                  <md-radio-group id="radio{{slide.code.indexOf(codes)}}" correct="{{codes.value}}" class="e-radio" ng-model="input.value" ng-change='radio(input.value, radio{{slide.code.indexOf(codes)}})' style="position:absolute; left:{{(100*codes.position[0]/1420)}}%; top:{{(100*codes.position[1]/775)}}%;">
                    
                    <div class="e-animate">
                      <div class="type">{{codes.animation}}</div>
                      <div class="delay">{{codes.delay}}</div>
                    </div>
                    
                    <md-radio-button  ng-repeat="it in codes.labels"
                                     ng-value="it"
                                     aria-label="{{it}}">
                                     {{it}}                                     
                    </md-radio-button>
                  </md-radio-group>
                  
                </div>
                
                <div ng-switch-when="input_checkbox">              
                  <md-checkbox aria-label="" class="e-checkbox" ng-model="input.value" ng-change='checkbox(input.value)' style="left:{{(100*codes.position[0]/1420)| number:0}}%; top:{{(100*codes.position[1]/775)| number:0}}%;">
                    {{codes.label}}
                  </md-checkbox>                
                </div>
                
                <div ng-switch-when="input_select">
                  <select correct="{{codes.correct}}" ng-options="option for option in codes.labels" class="e-select" ng-model="value" ng-change="select(value)" name="select[]" style="position:absolute; left:{{(100*codes.position[0]/1420)}}%; top:{{(100*codes.position[1]/775)}}%; border:#FF0000 solid 1px;"></select>
                </div>
                
                <div ng-switch-when="input_button">
                  <md-button class="md-raised e-button" style="left:{{(100*codes.position[0]/1420)}}%; top:{{(100*codes.position[1]/775)}}%;">{{codes.label}}</md-button>
                </div>
                
                <div ng-switch-default></div>
                
              </div>
            </div>
            
          </div>
          
        <md-card-content>
      </md-card>
        
    </div>
    
    <div class="legend hide">
      <div class="legend-background"></div>
      <div class="legend-text">
        <p ng-bind-html="legend"></p>
      </div>
    </div>
  
    <div e-init></div>
  </div>

  
  <footer>
    
  </footer>

</div>